<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>

<body>
    <div class="telainteira">
        <div class="telahistorico">
        </div>
        <div class="telaprodutos">
            <div class="header">
                <input type="text" class="input-busca" placeholder="Buscar Produto" oninput="filtrarProdutos()">
                <button class="botao-buscar">Buscar</button>
            </div>
            <div class="comidas">
                <h2>Comidas</h2>
                <div class="listahorizontalcomidas">
                    <div class="card-produto" onclick="adicionaraocarrinho(1,'Salgado', 10.00)">
                        <div class="imagem-produto">🥟</div>
                        <div class="info-produto">
                            <span class="nome-produto">Salgado</span>
                            <span class="preco-produto">R$10,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(2,'Hamburguer', 9.00)">
                        <div class="imagem-produto">🍔</div>
                        <div class="info-produto">
                            <span class="nome-produto">Hamburguer</span>
                            <span class="preco-produto">R$9,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(3,'Bacon Burguer', 14.00)">
                        <div class="imagem-produto">🥓</div>
                        <div class="info-produto">
                            <span class="nome-produto">Bacon Burguer</span>
                            <span class="preco-produto">R$14,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(4,'X-Burguer', 13.00)">
                        <div class="imagem-produto">🍔</div>
                        <div class="info-produto">
                            <span class="nome-produto">X-Burguer</span>
                            <span class="preco-produto">R$13,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(5,'X-Salada', 14.50)">
                        <div class="imagem-produto">🍔</div>
                        <div class="info-produto">
                            <span class="nome-produto">X-Salada</span>
                            <span class="preco-produto">R$14,50</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(6,'Egg Burguer', 11.50)">
                        <div class="imagem-produto">🍔</div>
                        <div class="info-produto">
                            <span class="nome-produto">Egg Burguer</span>
                            <span class="preco-produto">R$11,50</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(7,'Egg X Burguer', 15.00)">
                        <div class="imagem-produto">🍔</div>
                        <div class="info-produto">
                            <span class="nome-produto">Egg X Burguer</span>
                            <span class="preco-produto">R$15,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(8,'Egg X-Burguer Especial', 15.50)">
                        <div class="imagem-produto">🍔</div>
                        <div class="info-produto">
                            <span class="nome-produto">Egg X-Burguer Especial</span>
                            <span class="preco-produto">R$15,50</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(9,'Egg Bacon', 15.00)">
                        <div class="imagem-produto">🥓</div>
                        <div class="info-produto">
                            <span class="nome-produto">Egg Bacon</span>
                            <span class="preco-produto">R$15,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(10,'X Bacon', 16.00)">
                        <div class="imagem-produto">🥓</div>
                        <div class="info-produto">
                            <span class="nome-produto">X Bacon</span>
                            <span class="preco-produto">R$16,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(11,'Egg X-Bacon', 17.00)">
                        <div class="imagem-produto">🥓</div>
                        <div class="info-produto">
                            <span class="nome-produto">Egg X-Bacon</span>
                            <span class="preco-produto">R$17,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(12,'Frango', 16.00)">
                        <div class="imagem-produto">🍗</div>
                        <div class="info-produto">
                            <span class="nome-produto">Frango</span>
                            <span class="preco-produto">R$16,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(13,'Frango Hamburguer', 17.50)">
                        <div class="imagem-produto">🍗</div>
                        <div class="info-produto">
                            <span class="nome-produto">Frango Hamburguer</span>
                            <span class="preco-produto">R$17,50</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(14,'X-Frango', 17.50)">
                        <div class="imagem-produto">🍗</div>
                        <div class="info-produto">
                            <span class="nome-produto">X-Frango</span>
                            <span class="preco-produto">R$17,50</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(15,'Egg Frango', 17.50)">
                        <div class="imagem-produto">🍗</div>
                        <div class="info-produto">
                            <span class="nome-produto">Egg Frango</span>
                            <span class="preco-produto">R$17,50</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(16,'Egg X-Frango', 18.50)">
                        <div class="imagem-produto">🍗</div>
                        <div class="info-produto">
                            <span class="nome-produto">Egg X-Frango</span>
                            <span class="preco-produto">R$18,50</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(17,'X-Frango Bacon', 19.00)">
                        <div class="imagem-produto">🍗</div>
                        <div class="info-produto">
                            <span class="nome-produto">X-Frango Bacon</span>
                            <span class="preco-produto">R$19,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(18,'Egg X-Frango Bacon', 21.00)">
                        <div class="imagem-produto">🍗</div>
                        <div class="info-produto">
                            <span class="nome-produto">Egg X-Frango Bacon</span>
                            <span class="preco-produto">R$21,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(19,'X-Tudo', 24.00)">
                        <div class="imagem-produto">🍔</div>
                        <div class="info-produto">
                            <span class="nome-produto">X-Tudo</span>
                            <span class="preco-produto">R$24,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(20,'Paladar', 27.00)">
                        <div class="imagem-produto">🍔</div>
                        <div class="info-produto">
                            <span class="nome-produto">Paladar</span>
                            <span class="preco-produto">R$27,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(21,'+Ovo', 3.00)">
                        <div class="imagem-produto">🥚</div>
                        <div class="info-produto">
                            <span class="nome-produto">Ovo</span>
                            <span class="preco-produto">R$3,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(22,'+Carne', 5.00)">
                        <div class="imagem-produto">🥩</div>
                        <div class="info-produto">
                            <span class="nome-produto">Carne</span>
                            <span class="preco-produto">R$5,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(23,'+Frango', 6.00)">
                        <div class="imagem-produto">🍗</div>
                        <div class="info-produto">
                            <span class="nome-produto">Frango</span>
                            <span class="preco-produto">R$6,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(24,'+Presunto', 3.00)">
                        <div class="imagem-produto">🍖</div>
                        <div class="info-produto">
                            <span class="nome-produto">Presunto</span>
                            <span class="preco-produto">R$3,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(25,'+Queijo', 5.00)">
                        <div class="imagem-produto">🧀</div>
                        <div class="info-produto">
                            <span class="nome-produto">Queijo</span>
                            <span class="preco-produto">R$5,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(26,'+Bacon', 5.00)">
                        <div class="imagem-produto">🥓</div>
                        <div class="info-produto">
                            <span class="nome-produto">Bacon</span>
                            <span class="preco-produto">R$5,00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bebidas">
                <h2>Bebidas</h2>
                <div class="listahorizontalbebidas">
                    <div class="card-produto" onclick="adicionaraocarrinho(27,'Guaravita', 3.50)">
                        <div class="imagem-produto"><img src="../static/guaravita.png" alt=""></div>
                        <div class="info-produto">
                            <span class="nome-produto">Guaravita</span>
                            <span class="preco-produto">R$3,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(28,'Lata', 7.00)">
                        <div class="imagem-produto"><img src="../static/cocalata.jpg" alt=""></div>
                        <div class="info-produto">
                            <span class="nome-produto">Lata</span>
                            <span class="preco-produto">R$7,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(29,'Refri KS', 5.00)">
                        <div class="imagem-produto"><img src="../static/cocaks.jpg" alt=""></div>
                        <div class="info-produto">
                            <span class="nome-produto">Refri KS</span>
                            <span class="preco-produto">R$5,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(30,'2 Litros', 13.00)">
                        <div class="imagem-produto"><img src="../static/2litros.jpg" alt=""></div>
                        <div class="info-produto">
                            <span class="nome-produto">2 Litros</span>
                            <span class="preco-produto">R$13,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(31,'Guaraviton', 5.00)">
                        <div class="imagem-produto"><img src="../static/guaraviton.png" alt=""></div>
                        <div class="info-produto">
                            <span class="nome-produto">Guaraviton</span>
                            <span class="preco-produto">R$5,00</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(32,'Agua com Gás', 3.50)">
                        <div class="imagem-produto"><img src="../static/aguac.png" alt=""></div>
                        <div class="info-produto">
                            <span class="nome-produto">Agua com Gás</span>
                            <span class="preco-produto">R$3,50</span>
                        </div>
                    </div>
                    <div class="card-produto" onclick="adicionaraocarrinho(33,'Agua sem Gás', 3.00)">
                        <div class="imagem-produto"><img src="../static/agua.png" alt=""></div>
                        <div class="info-produto">
                            <span class="nome-produto">Agua sem Gás</span>
                            <span class="preco-produto">R$3,00</span>
                        </div>
                    </div>


                </div>
            </div>
            <div class="taxas-entrega">
                <h2>Taxas de Entrega</h2>
                <div class="listahorizontaltaxas">
                    <!-- Taxa Geral -->
                    <div class="card-produto" onclick="adicionaraocarrinho(34,'Entrega Geral', 5.00)">
                        <div class="imagem-produto">🛵</div>
                        <div class="info-produto">
                            <span class="nome-produto">Geral</span>
                            <span class="preco-produto">R$ 5,00</span>
                        </div>
                    </div>
                    <!-- Taxa Morros -->
                    <div class="card-produto" onclick="adicionaraocarrinho(35,'Entrega Morros', 8.00)">
                        <div class="imagem-produto">⛰️</div>
                        <div class="info-produto">
                            <span class="nome-produto">Morros</span>
                            <span class="preco-produto">R$ 8,00</span>
                        </div>
                    </div>
                    <!-- Taxa Villa -->
                    <div class="card-produto" onclick="adicionaraocarrinho(36,'Entrega Villa', 10.00)">
                        <div class="imagem-produto">🏘️</div>
                        <div class="info-produto">
                            <span class="nome-produto">Villa</span>
                            <span class="preco-produto">R$ 10,00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="telacarrinho">
            <div class="lista-pedido">
            </div>
            <div class="resumo-pedido">
                <div class="total-texto">Total: <strong>R$ 0,00</strong></div>
                <button class="botao-confirmar" onclick="enviarPedido()">Confirmar pedido</button>
            </div>
        </div>
    </div>
    <div id="modal-pedido" class="modal-fundo" style="display: none;">
        <div class="modal-conteudo">
            <div class="modal-cabecalho">
                <h2>Detalhes do Pedido</h2>
                <span class="btn-fechar" onclick="fecharModal()">X</span>
            </div>
            <div id="lista-detalhes" class="lista-detalhes">
                <p>Carregando...</p>
            </div>
        </div>
    </div>

</body>

</html>