<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="C:\Users\thiag\OneDrive\Documentos\site_lindo\ProjetoLanchonete\static\style.css">
</head>

<body>
    <div class="telainteira">
        <div class="telahistorico">
            <div class="card-pedido"></div>
            <div class="card-pedido"></div>
            <div class="card-pedido"></div>
            <div class="card-pedido"></div>
            <div class="card-pedido"></div>
        </div>
        <div class="telaprodutos">
            <div class="header">
                <input type="text" class="inputbusca" placeholder="Buscar Produto">
                <button>Buscar</button>
                <button class="botaodelivery">Delivery</button>
            </div>
            <div class="comidas">
                <h2>Comidas</h2>
                <div class="listahorizontalcomidas">
                    <div class="card-produto"></div>
                    <div class="card-produto"></div>
                    <div class="card-produto"></div>
                    <div class="card-produto"></div>
                    <div class="card-produto"></div>
                    <div class="card-produto"></div>
                    <div class="card-produto"></div>

                </div>
            </div>
            <div class="bebidas">
                <h2>Bebidas</h2>
                <div class="listahorizontalbebidas">
                    <div class="card-produto"></div>
                    <div class="card-produto"></div>
                    <div class="card-produto"></div>
                    <div class="card-produto"></div>
                    <div class="card-produto"></div>
                    <div class="card-produto"></div>
                    <div class="card-produto"></div>


                </div>
            </div>
        </div>
        <div class="telacarrinho">
            <div class="lista-pedido">
                <div class="item-pedido">1x Hamburguer - 25,00</div>
                <div class="item-pedido">1x cocacola - 5,00</div>
            </div>
            <div class="resumo-pedido">
                <div class="total-texto">Total: <strong>R$ 30,00</strong></div>
                <button class="botao-confirmar">Confirmar pedido</button>
            </div>
        </div>
    </div>
</body>

</html>